html.jules {
  --color-gray-50: var(--color-jules-50);
  --color-gray-100: var(--color-jules-100);
  --color-gray-200: var(--color-jules-200);
  --color-gray-300: var(--color-jules-300);
  --color-gray-400: var(--color-jules-400);
  --color-gray-500: var(--color-jules-500);
  --color-gray-600: var(--color-jules-600);
  --color-gray-700: var(--color-jules-700);
  --color-gray-800: var(--color-jules-800);
  --color-gray-850: var(--color-jules-900);
  --color-gray-900: var(--color-jules-950);
  --color-gray-950: var(--color-jules-950);
}
:root {
  --color-jules-50: #eef7ff;
  --color-jules-100: #d9eeff;
  --color-jules-200: #bfe1ff;
  --color-jules-300: #93d0ff;
  --color-jules-400: #60baff;
  --color-jules-500: #3b9eff;
  --color-jules-600: #2589ff;
  --color-jules-700: #1b73ff;
  --color-jules-800: #1c5df5;
  --color-jules-900: #204ec6;
  --color-jules-950: #182f7b;
}
